// --------------------------------------------------------------------------------
//
// --------------------------------------------------------------------------------
.hero__image {
	position: relative;
	display: table;
	width: 100%;
	height: 450px;
	overflow: hidden;
	background-color: $color-black;
	color: $color-white;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 0;
	@include breakpoint(medium) {
		height: 575px;
	}
	@include breakpoint(large) {
		height: 700px;
	}
}

// --------------------------------------------------------------------------------
//
// --------------------------------------------------------------------------------
.hero__content {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	z-index: 2;
}

.hero__title {

	h1 {
		position: relative;
		margin: 0;
		padding-bottom: 20px;
		@include font-sans;
		line-height: 1;
		text-shadow: -1px 0px 3px rgba($color-black, 0.5);
		font-size: rem-calc(36);
		@include breakpoint(medium) {
			font-size: rem-calc(64);
			padding-bottom: 16px;
		}
		@include breakpoint(large) {
			font-size: rem-calc(72);
			padding-bottom: 24px;
		}
		@include breakpoint(xlarge) {
			font-size: rem-calc(80);
			padding-bottom: 40px;
		}
	}

	h1:after {
		content: ' ';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		display: block;
		margin: 0 auto;
		background: $color-white;
		height: 3px;
		width: 70px;
	}
}

.hero__tagline {

	p {
		font-family: $font-serif;
		text-shadow: -1px 0px 3px rgba($color-black, 0.5);
		margin: 0;
		line-height: 1.6em;
		font-size: rem-calc(16);
		padding: 20px 20px 0;

		@include breakpoint(medium) {
			font-size: rem-calc(20);
			padding: 30px 30px 0;
		}
		@include breakpoint(large) {
			font-size: rem-calc(44);
			padding: 45px 45px 0;
		}
	}
}

// --------------------------------------------------------------------------------
//
// --------------------------------------------------------------------------------
.hero__background-image {
	position: absolute;
	height: 130%;
	width: 100%;
	background-size: cover;
	background-position: center center;
	top: 0;
	left: 0;
	z-index: 1;
	transform: translateY(-15%);
}
