// --------------------------------------------------------------------------------
//
// --------------------------------------------------------------------------------
$color-gold: #c4922c;
$color-black: #272727;
$color-white: #f9f9f9;

$color-light-gray: #c9c9c9;
$color-medium-gray: #b6b6b6;
$color-dark-gray: #939393;

$color-cardinals-red: #c41e3a;
$color-cardinals-blue: #000066;
$color-cardinals-yellow: #fedb00;

$color-blues-blue: #0546a0;
$color-blues-yellow: #ffc325;
$color-blues-navy: #101f48;

